<div class="search-div">
<button mat-raised-button (click)="onCreate()">
  <mat-icon>add</mat-icon>Create
</button>
<mat-form-field class="search-form-field" floatLabel="never">
  <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
  <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
    <mat-icon>close</mat-icon>
  </button> 
</mat-form-field>
</div>
<div class="mat-elevation-z8">
   <mat-table [dataSource]="listData" matSort>
     <ng-container matColumnDef="EXTENTION">
       <mat-header-cell *matHeaderCellDef mat-sort-header>Extention</mat-header-cell>
       <mat-cell *matCellDef="let element">{{element.EXTENTION}}</mat-cell>
     </ng-container>
     <ng-container matColumnDef="Upload">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Upload</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Upload}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ID_NATURE_DOCUMENT">
      <mat-header-cell *matHeaderCellDef mat-sort-header>NATURE_DOCUMENT</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.ID_NATURE_DOCUMENT}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ID_OPERATEUR_CREATION">
      <mat-header-cell *matHeaderCellDef mat-sort-header>OPERATEUR_CREATION</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.ID_OPERATEUR_CREATION}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ID_SOUS_GROUPE_DOCUMENT">
      <mat-header-cell *matHeaderCellDef mat-sort-header>SOUS_GROUPE_DOCUMENT</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.ID_SOUS_GROUPE_DOCUMENT}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="DATE_HEURE_AJOUT">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DATE_HEURE_AJOUT</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.DATE_HEURE_AJOUT}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="REF">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reference</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.REF}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell> 
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="Edit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    
     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row, columns: displayedColumns;"></mat-row>
     <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
     <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
   </mat-table>
   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>